* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.debug {
  background-color: red;
  margin: 2px solid black;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.btn {
  padding: 10px 10px;
  border-radius: 20px;
}

.container,
.container-tab,
.container-about,
.container-tabs {
  width: 90%;
  max-width: 576px;
  margin: 0 auto;
}

.container-tab {
  width: 90%;
  max-width: 576px;
  margin: 0 auto;
}

.container-about {
  width: 90%;
  max-width: 576px;
  margin: 0 auto;
}

/* COLOR PALETTE */

:root {
  --blue: #0084FD
  --lightblue: #B5DDFF
  --violet: #9792E4
  --orange: #FDC15F
  --black: #333333
}

.violet {
  background-color: #9792E4;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.black {
  background-color: black;
}

/* HEADER */

header {
  background-color: #0084FD;
  position: fixed;
  width: 100%;
}

.head {
  justify-content: space-between;
  margin-top: 15px;
}

.logo {
  padding: 20px 0;
}

nav {
  display: none;
}

nav ul {
  list-style-type: none;
  padding-top: 25px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
}

nav ul li:last-child a:last-child {
  background-color: white;
  color: black;
}

nav ul li:last-child a:last-child:hover {
  transition: 1s;
  background-color: rgb(158, 158, 158);
  color: white;
}

/* MAIN */

main {
  padding-top: 100px;
}

/* SEZIONE TABS */


section {
  padding: 20px 0;
}

.tab {
  border-radius: 30px;
  width: 100%;
  margin-bottom: 20px;
}

.tabs {
  border-radius: 30px;
  width: 100%;
  margin-bottom: 20px;
}

.tab-phone {
  border-radius: 30px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #B5DDFF;
  text-align: center;
}

.phone {
 max-width: 250px;
 display: block;
 margin: 0 auto;
}

main .container-tab .tab-phone .txt {
  padding-left: 20px;
  padding-top: 30px;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

main .container-tab .tab-phone .txt h4 {
  color: #0084FD;
  font-size: 2rem;
  padding: 20px 0;
}

main .container-tab .tab-phone .txt p {
  font-size: 1.5rem;
  line-height: 40px;
  font-weight: 600;
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}

main .container-tab .tab-phone .txt div a {
  background-color: #0084FD;
  color: white;
  padding: 20px 60px;
  font-size: 1.5rem;
  text-decoration: none;
  border-radius: 100px;
}

main .container-tab .tab-phone .txt div {
  padding: 60px 0px;
}

main .container-tab .tab {
  text-align: center;
  background-color: #B5DDFF;
}

main .container-tab .tab .txt i {
  font-size: 6rem;
  color: #0084FD;
  padding: 20px 0;
}

main .container-tab .tab .txt h4 {
  font-size: 2rem;
  color: #0084FD;
  padding-bottom: 30px;
}

main .container-tab .tab .txt div {
  width: 80%;
  margin: 0 auto;
  font-size: 1.5rem;
  line-height: 40px;
  padding-bottom: 30px;
  font-weight: 600;
}

.violet .container-tabs .tabs img {
  width: 100%;
  padding-top: 50px;
  
}

.violet .container-tabs .tabs h2 {
  font-size: 2.5rem;
  padding: 40px 0;
  color: white;
}

.violet .container-tabs .tabs div {
  font-size: 1.3rem;
  line-height: 40px;
  color: white;
}

.violet .container-tabs .tabs .app {
  background-color: white;
  border-radius: 50px;
}

.violet .container-tabs .tabs .develop,
.violet .container-tabs .tabs h4 {
  color: black;
}

.violet .container-tabs .tabs h4 {
  text-align: center;
  font-size: 2rem;
  padding: 20px 0;
}

.violet .container-tabs .tabs .develop {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  font-style: italic;
  padding: 20px 0;
}

/* SEZIONE CARDS */

.testimonial {
  text-align: center;
}

.testimonial div {
  font-size: 1.5rem;
  padding: 40px 0;
  line-height: 40px;
}

.testimonial h4 {
  font-size: 3rem;
  color: #9792E4;
}

.card {
  border-radius: 20px;
  margin-top: 20px;
  overflow: hidden;
  text-align: center;
  background-color: #9792E4;
}

.propic {
  overflow: hidden;
  
}

.circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 50px auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.caption {
  color: white;
  font-size: 1.5rem;
  line-height: 40px;
  width: 90%;
  margin: 0 auto;
}

.caption .cap {
  padding-bottom: 30px;
}

.caption .name {
  font-weight: 600;
  font-size: 2rem;
  padding-bottom: 50px;
}


/* SEZIONE BENEFITS  */

.benefits {
  width: 100%;
}

.ben .bene .benefits {
  font-size: 2.5rem;
  color: white;
  text-align: center;
  padding: 40px 0;
}


.benefit {
  border-radius: 20px;
  margin-top: 20px;
  background-color: white;
}

.ben .bene .benefit .number {
  color: #9792E4;
  font-size: 5rem;
  padding: 40px;
}

.ben .bene .benefit h4 {
  padding-left: 40px;
  font-size: 2rem;
  color: #9792E4;
}

.ben .bene .benefit .exp {
  padding-left: 40px;
  font-size: 1.5rem;
  line-height: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 90%;
}

.ben .bene .benefit .btn {
  width: 30%;
  text-align: center;
  margin-left: 40px;
  padding-bottom: 30px;
}

.ben .bene .benefit .btn a {
  text-decoration: none;
  font-size: 2rem;
  color: white;
  line-height: 100%;
  background-color: #9792E4;
  padding: 10px 40px;
  border-radius: 50px
}

/* SEZIONE ABOUT US  */

.about h3 {
  font-size: 3rem;
  color: #9792E4;
  padding: 40px 0;
}

.about div {
  padding-bottom: 40px;
  font-size: 1.5rem;
  line-height: 40px;
}

.guy {
  border-radius: 20px;
  margin-top: 20px;
}

.guy .help {
  font-size: 2rem;
  color: #9792E4;
  font-weight: 700;
  padding-bottom: 30px;
}

.guy .btn a {
  background-color: #9792E4;
  font-size: 1.5rem;
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
}

/* SEZIONE GET STARTED  */

.free {
  height: 500px;
  border: 1px solid black;
  border-radius: 20px;
}

/* FOOTER  */

footer {
  background-color: var(--black);
}

.foot {
  border: 1px solid white;
  border-radius: 20px;
  height: 50px;
  margin-top: 40px;
}

/* MEDIA QUERY  */

@media screen and (min-width:577px) {

.container {
  max-width: 1200px;
}

.tab-phone {
  width: calc(100% - 100% / 3);
}

.tab {
  width: calc(100% / 3 - 1vw);
}

.container-tab,
.container-about,
.container-tabs {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  display: flex;
}

.propic {
  min-width: 250px;
  height: auto;
}

.caption {
  width: auto;
}


.bene {
  display: flex;
  justify-content: space-between;
}

.benefit {
  width: calc(100% / 2 - 1vw);
}

.about {
  width: 60%;
}

.guy {
  width: 40%;
  margin-top: 0;
}

}

@media screen and (min-width:1200px) {
 
  nav {
    display: block;
  } 
  
  header .container div i {
    display: none;
  }

  .tab-phone {
    display: flex;
  }


  .tabs {
    width: calc(100% / 2 - 1vw);
  }

  .container-tabs {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .benefit {
    width: calc(100% / 3 - 1vw);
  }
}