* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug {
  background-color: red;
  margin: 2px solid black;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.container {
  width: 90%;
  max-width: 576px;
  margin: 0 auto;
}

.pink {
  background-color: pink;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

/* HEADER */

header {
  height: 50px;
  background-color: blue;
  position: fixed;
  width: 100%;
}

.head {
  justify-content: space-between;
  margin-top: 15px;
}

/* MAIN */

main {
  padding-top: 80px;
}

section {
  padding: 20px 0;
}

.tab {
  border: 1px solid black;
  border-radius: 30px;
  width: 100%;
  margin-bottom: 20px;
}

.txt {
  height: 600px;
}

.iphone {
  height: 400px;
}